go 1.22

use (
	.
	// You can comment the following lines if you don't need them
	../../utilities/amqp-helper
	../../utilities/db-helper
	../../utilities/node-semver
	../../utilities/spdx-license-matcher
	../../utilities/types
)
